@import "vars";
@import "inuit.css/inuit";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);

body {
	width:1280px;
	margin:0 auto;
	font-family:Ubuntu,"Helvetica","sans-serif";
	font-weight:300;
	padding-top:20px;
}

a {
	color:#11a1d6;
	&:hover {
		color:#1b7cb5;
		text-decoration:none;
	}
	&:focus {
		color:#1b7cb5;
		text-decoration:none;
	}
	&:visited {
		color:#1b7cb5;
		text-decoration:none;
	}
}

h1 ,h2, h3, h4, h5, h6 {
	font-weight:500;
	color:lighten(black, 20%);
}

blockquote {
	padding:5px 15px;
	border-left:5px solid lighten(black,15%);
	background:lighten(#11a1d6,10%);
	font-size:$base-font-size*1.2;
}

ul {
	li {
		font-size:$base-font-size*1.1;
	}
}

.btn {
	background:#11a1d6;
	padding:5px 8px;
	color:white;
	border-radius:5px;
	&:hover {
		color:white;
		background:#1b7cb5;
		-moz-transition:0.1s all 0.1s;
		-o-transition:0.1s all 0.1s;
		-webkit-transition:0.1s all 0.1s;
	}
	&:focus, &:visited {
		box-shadow:0 0 3px #1b7cb5;
	}
}

.table--bordered{
	th {
		text-decoration:underline;
		font-weight:500;
		background:darken(#11a1d6,10%)
	}
    th, td{
        border:2px solid #333;
        &:empty {
            border:none;
        }
    }

    thead tr:last-child th{
        border-bottom-width:2px;
    }

    tbody tr th:last-of-type{
        border-right-width:2px;
    }
}

.table--striped{
    tbody tr:nth-of-type(odd){
        background:lighten(#11a1d6,30%);
    }
}

.table--data{
    font-family: Ubuntu,"Helvetica","Verdana";
	font-size:$base-font-size*0.8;
}

input {
	margin:10px auto 10px 0;
	padding:2px 8px;
	height:30px;
	border:2px solid darken(white, 50%);
	&:focus {
		border: 2px solid darken(white,60%);
		box-shadow:0 0 6px lighten(#11a1d6,30%);
	}
}
